body {
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 300
}

h1 {
  font-size: 7.2em;
  font-weight: 300;
  color: #3d3d5c;
}


p {
  font-weight: 300;
}

.heading {
  margin-top: 100px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 3em 1.5em;
}

.line {
  width: 40em;
  height: 20em;
  margin: -4em 0;
}
.line > div:first-child {
  height: 100%;
  width: 50%;
  float: left;
  border-right: 2px dotted #ccc;
}

.box {
  margin: 60px 0;
  font-size: 3.6em;
  color: #3d3d5c;
}

.peach {
  color: #ff9966;
}

.lavender {
  color: #6666ff;
}

.strawberry {
  color: #ff6666;
}

.mint {
  color: #66ffb3;
}

@media screen and (min-width: 720px) {
  .container {
    width: 600px;
  }
}

@media screen and (min-width: 1080px) {
  .container {
    width: 960px;
  }
}

